:root {
    --primary-font-color: #9C27B0;
    --primary-Dark-color: #7B1FA2;
    --secondary-font-color: #FFCE00;
    --secondary-Dark-color: #C0A300;
    --white: #fff;
    --black: #000;

    --Primary-font: Staatliches, cursive;

}